*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    padding: 11px 0px;
    border-bottom: 1px solid #cecece;
}

.logo {
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 67%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 16px;
}

.new-arrival h2 {
    text-align: center;
    padding: 55px;
    padding-top: 20px;
    padding-bottom: 70px;
}


.catalog-newarr {
    display: flex;
    padding-left: 60px;
    justify-content: space-evenly;
    padding-right: 60px;
}


.catalog1 img {
    width: 100%;
}

.catalog1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 24%;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
}


span.catalog-info p{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-align: center;
}

span.catalog-info span.price{
    color: #666666;
    font-weight: bold;
}


span.catalog-info {
    padding: 18px;
    text-align: center;
}


.button-viewall a {
    color: white;
    background: #252323;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 auto;
}


.categories h2 {
    text-align: center;
    padding: 50px;
}

.categories {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}

.boxcat1 {
    background: #a1a1a1;
    width: 100%;
    height: 52vh;
}

.boxcat2 {
    background: #b4b4b4;
    width: 100%;
    height: 52vh;
}

.boxcat3 {
    background: #c8c4c4;
    width: 100%;
    height: 52vh;
}

.new-arrival {
    padding-bottom: 85px;
}


.button-viewall {
    padding-top: 75px;
}


.boxcat1 a {
    color: #555555;
    background: #f2f2f2;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 34vh;
}

.boxcat2 a {
    color: #555555;
    background: #f2f2f2;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 34vh;
}

.boxcat3 a {
    color: #555555;
    background: #f2f2f2;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 34vh;
}


.footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    padding: 7vh;
    background: #f2f2f2;
}

.box1 {
    width: 100%;
    height: 35vh;
}

.box2 {
    width: 45%;
    height: 35vh;
}

.box3 {
    width: 45%;
    height: 35vh;
}

.box4 {
    width: 45%;
    height: 35vh;
}


.content1 {
    padding: 20px;
    text-align: justify;
    margin-right: 95px;
}

.box1 h3 {
    padding-left: 20px;
}

.box2 h3 {
    padding-left: 20px;
}

.box3 h3 {
    padding-left: 20px;
}

.box4 h3 {
    padding-left: 20px;
}


.nav-login-cart li {
    list-style: none;
}

.nav-login-cart {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.nav-login-cart a {
    text-decoration: none;
    color: #797979;
    letter-spacing: 1px;
    font-size: 16px;
}

.nav-container {display: flex;width: 60%;justify-content: space-between;}

.home{
	height: 88vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1;
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}

.home .container{
	 flex-grow: 1;
}

.home .caption{
	width:50%;
	margin-top: 17%;
	margin-left: 9%;
}

.home .caption h1{
	font-size:42px;
	color:#000000;
	margin:0;

}

.home .slide.active .caption h1 {
    animation-delay: 1s;
    opacity: 0;
    animation: captionText .5s ease forwards;
}

.home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#222222;
}

.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}

.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #FF5722;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);
	}
}

@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}


p.buynow {
    cursor: pointer;
}


div#cart {
    position: fixed;
    right: 0px;
    background-color: #ffffff;
    margin-top: 0vh;
    z-index: 4;
    transition: 0.5s;
    top: 0;
    overflow-x: hidden;
    width: 0%;
    height: 100vh;
    box-shadow: 0 2px 15px rgba(0,0,0,0.20);
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
}


.cart-header {
    padding: 28px;
    border-bottom: 1px solid #cecece;
}

span.h1-cart {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

span.closebtn {
    font-size: 31px;
    cursor: pointer;
    float: right;
}

.item-cart-container {
    padding: 28px;
    display: inline-block;
    width: 100%;
}

p.item-cart-title {
    padding-bottom: 10px;
    margin-left: 100px;
}


.item-cart-container img {
    width: 26%;
    display: inline-block;
    float: left;
    box-shadow: 0 2px 15px rgba(0,0,0,0.10);
    border: 1px solid #d1d1d1;
}

.item-text {
    padding-bottom: 10px;
}

.quantity-cart {
    border: 1px solid #d1d1d1;
    margin-left: 22px;
    width: 34%;
    float: left;
}


span.cart-quantity-left {
    border-right: 1px solid #d1d1d1;
    padding-left: 10px;
    padding-right: 10px;
}

span.cart-quantity-right {
    border-left: 1px solid #d1d1d1;
    padding-left: 10px;
    padding-right: 10px;
}

span.cart-quan-no {
    padding-left: 10px;
    padding-right: 10px;
}


.cart-total {
    padding: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 38px;
}

.cart-footer {
    position: fixed;
    border-top: 1px solid #d1d1d1;
    bottom: 0px;
    width: 100%;
    background: white;
    height: 20%;
}


span.cart-currency{
    margin-left: 22px;
}


span.remove-quantity {
    float: right;
    font-size: 12px;
    color: #787878;
    cursor: pointer;
    padding-top: 2px;
}


p.cart-number {
    display: inline-block;
}


.content2 a {
    color: black;
    text-decoration: none;
}


.content2 li {
    list-style: none;
    padding-top: 20px;
}

.content2 {
    padding-left: 20px;
}


span.currency {
    font-weight: bold;
    margin: auto;
}

p.buynow {margin-top: 20px;color: #404040;}


.checkout-total {}

.checkout-total a {
    color: #ffffff;
    background: #4c4747;
    text-decoration: none;
    border-radius: 2px;
    width: 42vh;
    height: 38px;
    text-align: center;
    display: block;
    padding: 10px;
    margin-left: 26px;
}


span.order-total {
    margin-left: 29vh;
}

span.total {
    margin-left: 1vh;
}


.img-banner {
    background: #E5E2DB;
}

.img-banner img {
    margin: 0 auto;
    display: block;
}


.boxcat1 h3 {
    text-align: center;
    font-size: 37px;
    padding-top: 20px;
}

.boxcat2 h3 {
    text-align: center;
    font-size: 37px;
    padding-top: 20px;
}

.boxcat3 h3 {
    text-align: center;
    font-size: 37px;
    padding-top: 20px;
}

.boxcat1 a:hover {
    color: black;
    background: white;
}

.boxcat2 a:hover {
    color: black;
    background: white;
}

.boxcat3 a:hover {
    color: black;
    background: white;
}

.button-viewall a:hover {
    color: black;
    background: white;
    border: 1px solid black;
}


.checkout-total a:hover {color: #4c4747;background: white;border: 1px solid #4c4747;}

p.buynow:hover {
    color: black;
}

.catalog1:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,0.45);
}
